body {
  margin: 0;
  text-align:center;
  font-family: 'Merriweather', serif;
}
.prof{
  border-radius:50%;
}
h1 {

  margin-top:0;
  font-family: 'Sacramento', cursive;
}

h2{
  font-family: 'Montserrat', sans-serif;
}

h3{
  font-family: 'Montserrat', sans-serif;
}
p {
  margin: 0;

}

.top-container {
  position:relative;
  background-color: #f8f1f1;
  padding-top:100px;
}
.stu {
  text-decoration: underline;
}


.top-cloud{
  position:absolute;
  top:50px;
  right:300px;

}
.bottom-cloud{
  position:absolute;
  left:300px;
  bottom:300px;
}
